<div class="login-wrapper">
  <form [formGroup]="passwordForm" (submit)="forgot()">
    <h1 class="text-center">Forgot Password</h1>
    <mat-card>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input type="email" matInput formControlName="email" required>
        </mat-form-field>
      </div>
      <button mat-button color="primary" class="mat-raised-button btn-large">Send Email</button>
    </mat-card>

    <mat-grid-list cols="2" rowHeight="3:1">
      <mat-grid-tile><a href="#" routerLink="/login">Login</a></mat-grid-tile>
      <mat-grid-tile><a routerLink="/signup">Create Account</a></mat-grid-tile>
    </mat-grid-list>
  </form>
</div>

