<div>
  <div>
    <mat-toolbar style="width: 100%;">
      <span><a routerLink="/">InvT</a></span>
      <span class="example-spacer"></span>
      <a *ngIf="!authService.isLoggedIn" mat-icon-button class="links" aria-label="Login" routerLink="/login">
        Login
      </a>
      <a *ngIf="authService.isLoggedIn" mat-icon-button class="links" aria-label="Points" routerLink="/parts">
        Parts
      </a>
      <a *ngIf="authService.isLoggedIn" mat-icon-button class="links" aria-label="Transactions" routerLink="/requests">
        Requests
      </a>
      <button *ngIf="authService.isLoggedIn" mat-icon-button class="example-icon" aria-label="Logout"
              (click)="authService.SignOut()">
        <mat-icon>lock</mat-icon>
      </button>
    </mat-toolbar>
  </div>
  <router-outlet></router-outlet>
</div>
