<div>
  <h1 class="text-center">Parts Requests</h1>
  <div *ngIf="transactions.length === 0" class="text-center">Loading...</div>
  <div *ngIf="transactions.length > 0" class="table-wrap">

    <table mat-table
           [dataSource]="transactions" multiTemplateDataRows
           class="mat-elevation-z8">

      <ng-container matColumnDef="Address">
        <th mat-header-cell *matHeaderCellDef> Address </th>
        <td mat-cell *matCellDef="let element"> {{element.Address}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="Driver">
        <th mat-header-cell *matHeaderCellDef> Driver </th>
        <td mat-cell *matCellDef="let element"> {{element.Driver}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="truckDirver">
        <th mat-header-cell *matHeaderCellDef>Truck Driver</th>
        <td mat-cell *matCellDef="let element"> {{element.truckDirver}} </td>
      </ng-container>

      <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
          <div class="example-element-detail"
               [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
            <table mat-table
                   [dataSource]="element.parts">
              <ng-container matColumnDef="partID">
                <th mat-header-cell *matHeaderCellDef> PartID </th>
                <td mat-cell *matCellDef="let part"> {{part.partID}} </td>
              </ng-container>

              <ng-container matColumnDef="partDiscription">
                <th mat-header-cell *matHeaderCellDef> part Discription </th>
                <td mat-cell *matCellDef="let part"> {{part.partDiscription}} </td>
              </ng-container>

              <!-- Weight Column -->
              <ng-container matColumnDef="partQuantity">
                <th mat-header-cell *matHeaderCellDef>Truck partQuantity</th>
                <td mat-cell *matCellDef="let part"> {{part.partQuantity}} </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="nestedColumns"></tr>
              <tr mat-row *matRowDef="let parts; columns: nestedColumns;"
                  class="example-element-row"
                  [class.example-expanded-row]="expandedElement === parts"
                  (click)="expandedElement = expandedElement === parts ? null : parts">
              </tr>
            </table>
            <!--<div class="example-element-description">
              {{element.parts[0].partID}}
              <span class="example-element-description-attribution"> &#45;&#45; Wikipedia </span>
            </div>-->
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let element; columns: displayedColumns;"
          class="example-element-row"
          [class.example-expanded-row]="expandedElement === element"
          (click)="expandedElement = expandedElement === element ? null : element">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
    </table>
  </div>
</div>


