@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  height: 100vh;
  margin: 0;

  .example-spacer {
    flex: 1 1 auto;
  }

  .links {
    width: auto;
    padding: 5px 15px;
    cursor: pointer;
    font-weight: 800;
    border: 1px solid #bfb1b1;
    border-radius: 5px;
    margin: 0 5px;
    line-height: 30px;

    &:hover {
      background: #000000;
      color: #fff;
    }
  }

  .btn-large {
    width: 100%;
  }

  .text-center {
    text-align: center;
  }

  .full-w {
    width: 100%;
  }

  .half-w {
    width: 50%;
    margin: 0 auto;

    @media screen and (max-width: 768px) {
      width: 90%;
      margin: 2%;
    }
  }

  .table-wrap {
    margin: 20px 0;
  }

  table {
    width: 80%;
    margin: 0 auto;

    th.mat-header-cell {
      font-weight: 700;
      color: #000;
    }
  }
}
